body {
  margin: 0;
  font-family: "Open-sans", sans-serif;
  color: rgb(43, 40, 40);
  background-color: rgb(223, 220, 220);
}
#main-header {
  background-color: rgb(133, 143, 228);
  color: white;
  padding: 2rem 5%;
  text-align: center;
}
.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  background-color: rgb(133, 143, 228);
  border: 1px solid rgb(133, 143, 228);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.btnalt {
  background-color: transparent;
  border-color: transparent;
  color: rgb(133, 143, 228);
}
.btn:hover {
  background-color: rgb(93, 109, 255);
  border-color: rgb(93, 109, 255);
}
.btnalt:hover {
  background-color: rgb(164, 215, 250);
  border-color: transparent;
}
